html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #6190e7, #4d50e7);
  font-family: sans-serif;
  font-weight: 100;
  user-select: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border:solid;
}

th {
  text-align: left;
}

thead>tr>th {
  background-color: #55608f;
}


tbody>tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.tableDelete, .tableDetails {
  font-size: large;
  background-color: rgb(192, 85, 85);
  cursor: pointer;
  font-weight: bold;
}

.tableDetails {
  background-color: rgb(89, 53, 219);
}

form {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}